csv/boxscore_goalie_summary.csv
csv/boxscore_period_penalties_summary.csv
csv/boxscore_period_scoring_summary.csv
csv/boxscore_skater_summary.csv
csv/boxscore_summary.csv
csv/conferences.csv
csv/divisions.csv
csv/league_data.csv
csv/player_contract_renewed.csv
csv/player_contract.csv
csv/player_goalie_career_stats_po.csv
csv/player_goalie_career_stats_ps.csv
csv/player_goalie_career_stats_rs.csv
csv/player_goalie_retired_career_stats_po.csv
csv/player_goalie_retired_career_stats_ps.csv
csv/player_goalie_retired_career_stats_rs.csv
csv/player_goalie_stats_po.csv
csv/player_goalie_stats_ps.csv
csv/player_goalie_stats_rs.csv
csv/player_master.csv
csv/player_ratings.csv
csv/player_skater_career_stats_po.csv
csv/player_skater_career_stats_ps.csv
csv/player_skater_career_stats_rs.csv
csv/player_skater_retired_career_stats_po.csv
csv/player_skater_retired_career_stats_ps.csv
csv/player_skater_retired_career_stats_rs.csv
csv/player_skater_stats_po.csv
csv/player_skater_stats_ps.csv
csv/player_skater_stats_rs.csv
csv/schedules.csv
csv/staff_master.csv
csv/staff_ratings.csv
csv/team_data.csv
csv/team_lines.csv
csv/team_records.csv
csv/team_stats_playoffs.csv
csv/team_stats.csv
simplifiedCSV/team_master_simplified.csv
simplifiedCSV/team_master_simplifiedAnaheim.csv
simplifiedCSV/team_master_simplifiedAtlanta.csv
simplifiedCSV/team_master_simplifiedBoston.csv
simplifiedCSV/team_master_simplifiedBuffalo.csv
simplifiedCSV/team_master_simplifiedCalgary.csv
simplifiedCSV/team_master_simplifiedCarolina.csv
simplifiedCSV/team_master_simplifiedChicago.csv
simplifiedCSV/team_master_simplifiedColorado.csv
simplifiedCSV/team_master_simplifiedColumbus.csv
simplifiedCSV/team_master_simplifiedDallas.csv
simplifiedCSV/team_master_simplifiedDetroit.csv
simplifiedCSV/team_master_simplifiedEdmonton.csv
simplifiedCSV/team_master_simplifiedFlorida.csv
simplifiedCSV/team_master_simplifiedLos Angeles.csv
simplifiedCSV/team_master_simplifiedMinnesota.csv
simplifiedCSV/team_master_simplifiedMontreal.csv
simplifiedCSV/team_master_simplifiedNashville.csv
simplifiedCSV/team_master_simplifiedNew Jersey.csv
simplifiedCSV/team_master_simplifiedNew York.csv
simplifiedCSV/team_master_simplifiedOttawa.csv
simplifiedCSV/team_master_simplifiedPhiladelphia.csv
simplifiedCSV/team_master_simplifiedPhoenix.csv
simplifiedCSV/team_master_simplifiedPittsburgh.csv
simplifiedCSV/team_master_simplifiedSan Jose.csv
simplifiedCSV/team_master_simplifiedSt. Louis.csv
simplifiedCSV/team_master_simplifiedTampa Bay.csv
simplifiedCSV/team_master_simplifiedToronto.csv
simplifiedCSV/team_master_simplifiedVancouver.csv
simplifiedCSV/team_master_simplifiedWashington.csv
simplifiedCSV/Retro Goon League1980.csv
simplifiedCSV/league_master_simplified.csv
